/* Общие */

* {
    box-sizing: border-box;
}

:root {
    --main-color: #f97316;
    --secondary-color: #ea580c;
    --green: #65a30d;
    --white: white;
    --light-gray: #d6d3d1;
    --text-gray: #57534e;
    --text-dark-grey: #44403c;
    --text: #1C1917;
    --background-orange: #ffedd5;
    --background-gray: #fafaf9;
    --text-footer: #78716c;
    --indent: 20px;
    --indent-messengers: 10px;
}


ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    color:var(--text);
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

@media (max-width: 600px) {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 34px;
        font-weight: 700;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 34px;
        font-weight: 700;
    }
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--text-gray);
}

a {
    text-decoration: none;
    color: var(--text-dark-grey);
}

a:hover {
    color: var(--secondary-color);
    transition: color 100ms linear;
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
}

/* главная */

.section-hero {
    background-image: url('/images/hero.jpg');
    background-color: var(--background-orange);
}

@media (max-width: 600px) {
    .section-hero {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/hero.jpg');
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-hero {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/hero.jpg');
    }
}

.hero-img {
    background-size: cover;
    background-position: top;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

.logo-img {
    width: 100px;;
}

.nav-list {
    display: flex;
}

@media (max-width: 600px) {
    .nav-list {
        padding-bottom: 20px;
    }
}

.nav-item {
    padding-right: 20px;
    list-style: none;
    color: var(--text);
}

.nav-item:hover {
    color: var(--main-color);
    transition: color 200ms linear;
}

.nav-item:last-child {
    padding-right: 0px;
}

.header-phone {
    display: flex;
}

.phone-icon {
    font-size: 16px;
    color: var(--text);
    padding-right: 10px;
}

.home-content {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 45%;
}

@media (max-width: 600px) {
    .home-content {
        max-width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .home-content {
        max-width: 70%;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-content {
        max-width: 45%;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {

}

.hero-title {
    font-size: 60px;
    font-weight: 600;
    /* line-height: 1.1; */
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 36px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-title {
        font-size: 36px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-title {
        font-size: 46px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-title {
        font-size: 52px;
        margin-bottom: 40px;
    }
}

.hero-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 50px;
    color: var(--text-gray);
}

@media (max-width: 600px) {
    .hero-description {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-description {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.button-normal {
    background-color: var(--main-color);
    font-size: 20px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 2px 2px 4px var(--light-gray);
}

@media (max-width: 600px) {
    .button-normal {
        width: 100%;
        font-size: 18px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .button-normal {
        font-size: 18px;
    }
}

.button-normal:hover {
    background-color: var(--secondary-color);
    transition: background-color 200ms linear;
}

.button-normal:active {
    background-color: var(--secondary-color);
    transition: background-color 200ms linear;
}

/* Преимущества */
.section-advantage {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .section-advantage {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-advantage {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-advantage {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}

.title-section-advantage {
    text-align: center;

}

.advantage-list {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: var(--indent);
    flex-grow: 1;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .advantage-list {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .advantage-list {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .advantage-list {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: var(--background-gray);
    border-radius: 10px;
    width: calc((100% - var(--indent)*2)/3);
}

@media (max-width: 600px) {
    .advantage-item {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .advantage-item {
        width: 100%;
    }
}

.advantage-item:hover {
    background: none;
    box-shadow: 0px 0px 20px var(--light-gray);
    transition: box-shadow 200ms linear;
}


.icon-advantage {
    font-size: 28px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px var(--light-gray);
}

.title-advantage {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.description-advantage {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--text-gray);
}

@media (max-width: 600px) {
    .description-advantage {
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .description-advantage {
        text-align: center;
    }
}


/* о нас */

.about-us-content {
    display: flex;
    margin-top: 50px;
}

@media (max-width: 600px) {
    .about-us-content {
        flex-direction: column;
        margin-top: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-us-content {
        flex-direction: column;
        margin-top: 40px;
    }
}

.title-about-us {
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .title-about-us {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-about-us {
        padding-bottom: 20px;
    }
}

.description-about-us {
    color: var(--text-dark-grey);
    font-weight: 400;
    padding-top: 20px;
}

.about-us-img {
    width: 500px;
    padding-left: 40px;
    object-fit: contain;

}

@media (max-width: 600px) {
    .about-us-img {
        padding-left: 0px;
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .about-us-img {
        padding-left: 0px;
        width: 100%;
        object-fit: cover;
    }
}


/* Форма обратной связи */
.section-form {
    background-color: var(--background-orange);
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 600px) {
    .section-form {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-form {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-form {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.container-form {
    text-align: center;
}

.description-form {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--text-gray);
}

/* Переделка блока - начало блока*/

.form {
    padding-top: 40px;
}

.form-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 600px) {
    .form-list {
        flex-direction: column;
    }
}

.form-input {
    background-color: var(--white);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    box-shadow: 2px 2px 4px var(--light-gray);
    outline: none;
    /* flex-grow: 1; */
}

@media (max-width: 600px) {
    .form-input {
        font-size: 16px;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .form-input {
        font-size: 16px;
        flex-grow: 1;
    }
}

@media (min-width: 768px) and (max-width: 930px) {
    .form-input {
        font-size: 16px;
    }
}

@media (min-width: 930px) and (max-width: 1024px) {
    .form-input {
        width: calc((100% - var(--indent)*2)/3);
    }
}

.form-input:hover {
    box-shadow: 2px 2px 4px #b3b0ae;
    transition: box-shadow 200ms linear;
}

.button-form {
    background-color: var(--main-color);
    font-size: 18px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 2px 2px 4px var(--light-gray);
}

@media (max-width: 600px) {
    .button-form {
        font-size: 16px;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .button-form {
        font-size: 16px;
        padding: 15px 15px 15px 15px;
    }
}

@media (min-width: 768px) and (max-width: 930px) {
    .button-form {
        font-size: 16px;
    }
}

.button-form:hover {
    background-color: #ea580c;
    transition: background-color 200ms linear;
}

.button-form:active {
    background-color: #ea580c;
    transition: background-color 200ms linear;
}

/* Переделка блока- окончание блока */


/* Отзывы */
.section-review {
    background-color: #fafaf9;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 600px) {
    .section-review {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-review {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-review {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-review {
    padding-bottom: 30px;
    text-align: center;
}

.review-list {
    width: 600px;
    border-bottom: 1px solid #d6d3d1;
    padding: 30px 0px 30px 0px;
}

@media (max-width: 600px) {
    .review-list {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .review-list {
        width: 100%;
    }
}

.name-review {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #1c1917;
}

.text-review {
    color: #1c1917;
}

/* Абонементы */

.section-subscriptions {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

@media (max-width: 600px) {
    .section-subscriptions {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-subscriptions {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-subscriptions {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.title-subscriptions {
    text-align: center;
}

.rate-list {
    display: flex;
    padding-top: 40px;
    gap: var(--indent);
    flex-grow: 1;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .rate-list {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .rate-list {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}

.rate-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d6d3d1;
    width: calc((100% - var(--indent)*2)/3);
}

@media (max-width: 600px) {
    .rate-item {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .rate-item {
        width: 100%;
    }
}

.rate-item:hover {
    box-shadow: 0px 0px 20px #d6d3d1;
    border: 1px solid #ffffff;
    transition: box-shadow 250ms linear;
}

.title-rate {
    color: #ea580c;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.price-rate {
    color: #1c1917;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description-rate {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.icon-rate {
    color: #65a30d;
    font-size: 14px;
    padding-right: 10px;
}

.text-rate {
    color: #78716c;
    font-size: 14px;
}

.button-rate {
    color: #ea580c;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffedd5;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.button-rate:hover {
    color: var(--background-orange);
    background-color: var(--secondary-color);
    transition: background-color 250ms linear;
}

.button-rate:active {
    color: var(--background-orange);
    background-color: var(--secondary-color);
}

/* Футер */

.section-footer {
    background-color: var(--background-gray);
    padding-top: 60px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .section-footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-footer {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

.footer-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .footer-item {
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-item {
        flex-direction: column;
        gap: 20px;
    }
}

.footer-phone {
    display: flex;
}

.phone-icon-footer {
    padding-right: 10px;
    font-size: 18px;
    color: var(--text-footer);
}

.phone-text, .e-mail-text {
    font-size: 16px;
    color: var(--text-footer);
}

.messengers {
    display: flex;
    gap: var(--indent-messengers);
}

.messengers-icon {
    font-size: 24px;
    color: var(--text-footer);
}

.messengers-icon:hover {
    color: var(--secondary-color);
    transition: color 200ms linear;
}